<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <form method="POST" action="/products/<%= product._id %>?_method=PATCH">
        <section>
            <label for="name">Name : </label>
            <input type="text" name="name" id="name" value="<%= product.name %> ">
        </section>
        <br>
        <section>
            <label for="price">Price :</label>
            <input type="text" name="price" id="price" value="<%= product.price %> ">
        </section>
        <br>
        <section>
            <label for="category">Category : </label>
            <select name="category" id="category">
                <% for( let category of categories ) { %>
                    <option value="<%=category %>" <%=product.category===category? "selected" : "" %> > <%= category %>
                    </option>"
                    <% } %>
                        <!-- <option value="fruit">Fruit</option>
                <option value="vegetable">Vegetable</option>
                <option value="dairy">Dairy</option> -->
            </select>
        </section>
        <br>
        <button type="submit">Submit</button>
    </form>
    <a href="/products">cancel</a>
</body>

</html>