<%- include("partials/head") %>

    <%- include("partials/navbar") %>
        <h1>
            <%= greetings %>
        </h1>
        <!-- <p>
        <%= random %>
    </p> -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolores sit reiciendis debitis ipsa ipsum
            velit
            magnam illo totam. Quasi eius nulla minima veritatis est ducimus ratione voluptatibus minus aperiam!
            Lorem
            ipsum
            dolor sit, amet consectetur adipisicing elit. Quam tenetur pariatur inventore culpa alias obcaecati
            fugit id
            distinctio nesciunt. Omnis natus optio quisquam esse qui, rem quo perspiciatis rerum nostrum! Lorem
            ipsum,
            dolor
            sit amet consectetur adipisicing elit. Dolor dolorem minus eaque suscipit alias obcaecati rerum, fugiat,
            aliquid
            inventore non, magni excepturi modi corporis officia harum perspiciatis voluptate tempore minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolores sit reiciendis debitis ipsa ipsum
            velit
            magnam illo totam. Quasi eius nulla minima veritatis est ducimus ratione voluptatibus minus aperiam!
            Lorem
            ipsum
            dolor sit, amet consectetur adipisicing elit. Quam tenetur pariatur inventore culpa alias obcaecati
            fugit id
            distinctio nesciunt. Omnis natus optio quisquam esse qui, rem quo perspiciatis rerum nostrum! Lorem
            ipsum,
            dolor
            sit amet consectetur adipisicing elit. Dolor dolorem minus eaque suscipit alias obcaecati rerum, fugiat,
            aliquid
            inventore non, magni excepturi modi corporis officia harum perspiciatis voluptate tempore minima?</p>
        <%- include("partials/footer") %>